*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(500px, 35%)  minmax(450px, 1fr);
    grid-template-areas: "header header header"
    "sidenav main aside";
    background-color: #f0f2f5;
}

header{
    grid-area: header;
    background-color:#ffffff;
    border-bottom:3px solid #dddfe2;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.center{
width: 1880px;
max-width: 100%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
padding: 5px;
}

.center .elements{
    display: flex;
}

.center .elements .fa-facebook{
color:#087ae9 ;
font-size: 40px;
margin: auto;
}

.center .elements input{
height: 35px;
margin: auto 10px;
width: 240px;
border-radius: 20px;
border: none;
padding: 10px;
background-color:#f0f2f5 ;
}

.center .elements input::-webkit-input-placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.center .elements input:focus{
    border: 0 none;
    outline: 0;
    
    
}

.center .elements .fa-search{
    display: none;
}


.center .cards nav{
    display: flex;
}

.center .cards nav a + a{
    margin-left: 25px;
}

.center .cards nav a{
    text-decoration: none;
    color: #65676b;
    padding: 15px 35px;
    font-size: 25px;
    
}

.center .cards nav a:active{
    color:#1877f2;
    border-bottom: 1px solid #1877f2;
}


.center .options nav a {
    text-decoration: none;
    color:#050505;
    font-size: 18px;
    padding:12px 15px;
    border-radius: 50%;
    background-color:#e4e6eb;
    margin-left: 5px;
}

.header-mobile{
    display: none;
}

.menu-mobile{
    display: none;
}

.sidenav{
    grid-area: sidenav;
    margin: 60px 0 0;
}


.nav-sidenav{
    width: 60%;
    overflow-y: scroll;
    height: 100vh;
}





.sidenav .menu-nav div{
    display: flex;
    margin: 0px 5px 5px 12px;
    align-items: center;
    padding: 5px 0;
}

.sidenav .menu-nav div:hover{
    background-color: #e4e6e9;
    border-radius: 10px;
    transition: .1s;
}

.sidenav .menu-nav div h5{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:500;
}

.sidenav .imagem{
    height: 40px;
}

.sidenav .imagem img{
    height: 100%;
}

.sidenav .atalhos{
    display: block;
    margin:0 0 70px 20px;
}

.sidenav .atalhos h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: #838589;
    margin: 10px 0;
}

.sidenav .atalhos nav{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    margin-bottom: 5px;
}

.sidenav .atalhos nav a{
    margin-right: 3px;
    text-decoration: none;
    color: #838589;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px ;
}

aside{
    grid-area: aside;
    margin: 60px 0 0 245px;
    background-color: #f0f2f5;
    overflow-y: scroll;
    height: 100vh;
}

aside .nav-aside{
    padding: 10px;
}

aside .nav-aside div .contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .nav-aside div .contato p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

aside .nav-aside div .opcoes a{
    margin-right: 10px;
}

aside .nav-aside div .opcoes a, p{
    color: #838589;
}

aside .nav-aside .bate-papo .usuario{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

aside .nav-aside .foto-usuario{
    height: 40px;
}

aside .nav-aside .foto-usuario img{
    height: 100%;
    width: 40px;
    border-radius: 100px;
}

aside .nav-aside .bate-papo .usuario a{
    margin-left: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000 ;
    font-weight: 600;
    
}



main{
    margin-top: 70px;
    grid-area: main;
    min-height: 100vh;
   
    }

main .stories{
    
    display: flex;
    justify-content: space-between;

}

main .stories .foto-stories{
    height: 170px;
    width: 120px;
    
}

main .stories .foto-stories img{
    height: 100%;
    width: 100%;
   border-radius: 10px;
   padding: 0 4px;
}



main .status{
    margin: 20px 0;
    
    width: 100%;
    border-radius: 10px;
    background-color:#ffffff;
}

main .status .pensamento{
    display: flex;
    align-items: center;
    padding: 10px;

}
main .status .perfil{
    height: 40px;
    margin-right: 10px;
}

main .status img{
    height: 100%;
    width: 40px;
    border-radius: 100px;
}

main .status .pensamento input {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color:#f0f2f5 ;
    padding: 10px;
    font-size: 15px
}


main .status .pensamento input:focus{
    border: 0 none;
    outline: 0;
}

main .status hr{
    width: 97%;
    margin: auto;
}

main .status .media{
    padding: 10px;
    margin: 0 10px;
}

main .status .media div{
    display: flex;
    justify-content: space-around;
}

main .status .media div a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

main .status .media div a i{
    font-size: 20px;
}

main .status .media div a .fa-video{
    color:#f35972 ;
}

main .status .media div a .fa-images{
    color: #45bd62;
}

main .status .media div a .fa-smile{
    color: #f7b928;
}

main .status .media div a p{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:#65676b; ;
}

main .noticias{
    background-color:#ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

main .noticias .perfil-noticias{
    display: flex;
    align-items: center;
    padding: 10px;
}

main .noticias  .perfil-noticias .foto{
    height: 40px;
}

main .noticias  .perfil-noticias .foto img{
    height: 100%;
    width: 40px;
    border-radius: 100px;
}

main .noticias .perfil-noticias p{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000 ;
}

main .noticias .imagem{
    height: 400px;
}

main .noticias .imagem img{
    height: 100%;
    width: 100%;
}

main .noticias hr{
    
    margin: 10px auto;
    width: 95%;
    
}

main .noticias .acoes{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

main .noticias .acoes a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #65676b;
}

main .noticias .acoes a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 10px;
}



@media only screen and (max-width:1260px){
    .center .elements input{
        display: none;
    }

    .center .elements .fa-search{
        display: block;
        margin: auto  10px ;
        text-decoration: none;
        color:#050505;
        font-size: 18px;
        padding:12px 12px;
        border-radius: 50%;
        background-color:#e4e6eb;
    }

    main{
        width: 600px;
        margin:70px auto;
    }
}

@media only screen and (max-width:1100px){
    body{
        display: grid;
        grid-template-columns: 2fr 350px;
        grid-template-areas: "header  header"
                                "main aside";
        
    }

    header{
        width: 100%;
    }

    header .center{
        width: 100%;
        margin: auto;
    }

    .sidenav{
        display: none;
    }

    aside{
    margin: 15% 0 ;
     width: 100%;
    }

    main{
        margin: 70px 20px;
    }

}

@media only screen and (max-width:1016px){

    main .stories .foto-stories:nth-child(6) {
        display: none;
    }
}

@media only screen and (max-width:900px){
    body{
        grid-template-columns: 2fr;
    }

    .center .cards nav a + a{
        margin: 0;
    }

    aside{
        display: none;
    }

    main {
        width: 80%;
        margin:70px auto;
    }

    main .stories .foto-stories:nth-child(6){
        display: block;
    }
}

@media only screen and (max-width:817px){
    .center .cards nav a{
        padding: 15px 20px;
    }
}


@media only screen and (max-width:700px){
    .center .cards{
        display: none;
    }
    main{
        width: 100%;
        margin:70px 15px;
    }
}

@media only screen and (max-width:676px){
    main{
        width: 100%;
        margin: 70px auto;
    }

    main .stories .foto-stories:nth-child(6) {
        display: none;
    }

    main .stories .foto-stories{
        height: 190px;
        width: 130px;
        
    }
    
    main .stories .foto-stories img{
        height: 100%;
        width: 100%;
       border-radius: 10px;
       padding: 0 4px;
    }
}

@media only screen and (max-width:450px){

  

    .center{
        display: none;
    }

    .header-mobile{
        display: block;
        width: 100%;
        padding: 15px 20px;
        background-color: #3b5998;
       
    }

    .header-mobile .busca{
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    }

    .header-mobile .busca i{
        font-size: 30px;
        color: #ffffff;
    }

    .header-mobile .busca input{
        width: 60%;
        text-align: center;
        font-size: 25px;
        border: none;
        border-bottom: 1px solid #ffffff;
        background-color: #3b5998;
    }

    .header-mobile .busca input::placeholder{
        color: #ffffff;
    }

    .header-mobile .busca input:focus{
        outline: 0;
        border: 0 none;
    }

    .menu-mobile{
        display: block;
        width: 100%;
        padding: 15px 20px;
    }

    .menu-mobile .menus{
        display: flex;
        justify-content: space-between;
       
      
    }
    .menu-mobile .menus i{
        font-size: 30px;
        
    }
    main{
       
        margin: 130px auto;
    }
}