*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: minmax(400px, 1fr) 40% 1fr;
    grid-template-areas: "header header header"
    "sidenav main aside";
    background-color: #f0f2f5;
}

header{
    grid-area: header;
    background-color:#ffffff;
    border-bottom:3px solid #dddfe2;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.center{
width: 1880px;
max-width: 100%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
padding: 5px;
}

.center .elements{
    display: flex;
}

.center .elements .fa-facebook{
color:#087ae9 ;
font-size: 40px;
margin: auto;
}

.center .elements input{
height: 35px;
margin: auto 10px;
width: 240px;
border-radius: 20px;
border: none;
padding: 10px;
background-color:#f0f2f5 ;
}

.center .elements input::-webkit-input-placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.center .elements input:focus{
    border: 0 none;
    outline: 0;
    
    
}


.center .cards nav{
    display: flex;
}

.center .cards nav a + a{
    margin-left: 25px;
}

.center .cards nav a{
    text-decoration: none;
    color: #65676b;
    padding: 15px 35px;
    font-size: 25px;
    
}

.center .cards nav a:active{
    color:#1877f2;
    border-bottom: 1px solid #1877f2;
}


.center .options nav a {
    text-decoration: none;
    color:#050505;
    font-size: 18px;
    padding:12px 15px;
    border-radius: 50%;
    background-color:#e4e6eb;
    margin-left: 5px;
}

.sidenav{
    grid-area: sidenav;
    margin: 60px 0 0;
}


.nav-sidenav{
    width: 65%;
    overflow-y: scroll;
    height: 100vh;
}





.sidenav .menu-nav div{
    display: flex;
    margin: 0px 5px 5px 12px;
    align-items: center;
    padding: 5px 0;
}

.sidenav .menu-nav div:hover{
    background-color: #e4e6e9;
    border-radius: 10px;
    transition: .1s;
}

.sidenav .menu-nav div h5{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:500;
}

.sidenav .imagem{
    height: 40px;
}

.sidenav .imagem img{
    height: 100%;
}

.sidenav .atalhos{
    display: block;
    margin:0 0 70px 20px;
}

.sidenav .atalhos h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: #838589;
    margin: 10px 0;
}

.sidenav .atalhos nav{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    margin-bottom: 5px;
}

.sidenav .atalhos nav a{
    margin-right: 3px;
    text-decoration: none;
    color: #838589;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px ;
}

main{
    margin-top: 70px;
    grid-area: main;
    min-height: 100vh;
   
    }

main .stories{
    margin: auto;
    display: flex;
    justify-content: space-between;
     width: 100%;

}

main .stories .foto-stories{
    height: 180px;
    width: 120px;
    
}

main .stories .foto-stories img{
    height: 100%;
    width: 100%;
   border-radius: 10px;
   padding: 0 1px;
}



main .status{
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    background-color:#ffffff;
}

main .status .pensamento{
    display: flex;
    align-items: center;
    padding: 10px;

}
main .status .perfil{
    height: 40px;
    margin-right: 10px;
}

main .status img{
    height: 100%;
    width: 40px;
    border-radius: 100px;
}

main .status .pensamento input {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color:#f0f2f5 ;
    padding: 10px;
    font-size: 15px
}


main .status .pensamento input:focus{
    border: 0 none;
    outline: 0;
}

main .status hr{
    width: 97%;
    margin: auto;
}

main .status .media{
    padding: 20px;
}

main .status .media div{
    display: flex;
    justify-content: space-around;
}

main .status .media div a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

main .status .media div a i{
    font-size: 20px;
}

main .status .media div a .fa-video{
    color:#f35972 ;
}

main .status .media div a .fa-images{
    color: #45bd62;
}

main .status .media div a .fa-smile{
    color: #f7b928;
}

main .status .media div a p{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:#65676b; ;
}